#display-button {
  margin: 0 0 6px 0;
}

#login-button {
  margin: 0 6px 6px 0;
}

#domain-button {
  margin: 6px 0 0 0;
}

.ui-menu {
  width: 17em;
  background: none;
  border: none;
}

#nav {
  height: 26px;
}
