.detail-cell{
    border-bottom: solid 1px lightgray;
    padding: 0px 10px;
    margin-top: 10px;
}

.detail-title{
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}
.note-detail-calendar{
    margin-left: 0
}

.note-type-dropdown{
    width: 160px !important; 
    margin: 0px;
    margin-bottom:10px
}

.detail-type-loading-spinner{
    top: 2px;
    position: relative;
    margin-left: 7px;

}