<p-messages [(value)]="messages"></p-messages>
<p-progressSpinner *ngIf="loading"></p-progressSpinner>

<p-card>
  <label>Domain ID: </label>
  <input #domain>
  <br/>

  <button (click)="getServices(domain.value)">Get services</button>
</p-card>
<p-card  *ngIf="isPopulated">
  <p-table [value]="services" >
    <ng-template pTemplate="header">
      <tr>
        <th>SiteService</th>
        <th>Description</th>
        <th>Type</th>
        <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-service>
      <tr>
        <td>{{service.siteService}}</td>
        <td>{{service.description}}</td>
        <td>{{service.serviceType}}</td>
        <td>{{service.serviceStatus}}</td>
      </tr>
    </ng-template>

  </p-table>

  <p-dropdown [options]="services" optionLabel="description" [(ngModel)]="selectedService" placeholder="Select a Service"></p-dropdown>
  {{selectedService.description}}
</p-card>



