.ui-progressbar {
  width: 100%;
}

.loading-spinner{
  width: 42px;
  margin: auto;
}

.high_alarm, .low_alarm{
  background-color: red !important;
}

.high_warning, .low_warning{
  background-color: orange !important;
}

.ui-progress-spinner {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    z-index: 2;
}
  