<div>
    <p-messages [(value)]="errorMessages"></p-messages>
    <p-progressSpinner *ngIf="loading "></p-progressSpinner>
    <p-growl [(value)]="growlMsgs" [sticky] = "false" [life] = "3000"></p-growl>
    <p-card>
        <label class="input-label" >UIS Service: </label>
        <input  [(ngModel)]="uisSiteService"  pInputText type="text" placeholder="SITE.UIS"/>
        <br />

        <label class="input-label" >Device ID: </label>
        <input  [(ngModel)]="deviceId"  pInputText type="text"/>
        <br />
        
        <label class="input-label" >DataGroup Type: </label>
        <input  [(ngModel)]="dataGroupType"  pInputText type="text"/>
        <br />

        <label class="input-label" >DataGroup Ordinal: </label>
        <input  [(ngModel)]="dataGroupOrd"  pInputText type="text"/>
        <br />

        <label class="input-label" >From Device Parameters: </label>
        <input  [(ngModel)]="fromDeviceParameters"  pInputText type="text"/>
        <br />
        
        <label class="input-label" >Return Transaction Data: </label>
        <p-inputSwitch [(ngModel)]="returnTransactionData"></p-inputSwitch>
        <br />
        
        <label class="input-label" >Max Wait time (ms): </label>
        <input  [(ngModel)]="maxWaitInMs"  pInputText type="text"/>
        <br />

        <label class="input-label"> </label>
       
        <br />
        <button class="btn btn-primary" style="margin-left: 10px" (click)="pollDataGroup();">Poll DataGroup</button> &nbsp;&nbsp; &nbsp;&nbsp;
        
    </p-card>

    <p-dialog [positionTop]="0" [header]="'Transaction Detail'" [(visible)]="showDetail" [width]="550" [minHeight]="500"  [modal]="true">
        <transaction-detail [transaction]="transaction"></transaction-detail>
        <p-footer>
            <button pButton type="button" (click)="showDetail=false" label="Close" ></button>
        </p-footer>
    </p-dialog>

</div>