.input-label{
    margin: 10px;
}

.ui-progress-spinner {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    z-index: 2;
  }
  
.datagroup-options-dropdown{
    width: 160px !important
}

.ui-inputswitch{
    top: 5px;
}

.input-text-command{
    width: 350px
}